{% extends 'base.html' %}

{% block content %}

<div class="row">
    <!--  left Sidebar  -->
    <div class="col-md-3">
        <div class="nav flex-column nav-pills bg-light" aria-orientation="vertical">
            <a href="" class="nav-link text-dark bg-warning">Dashboard</a>
            <a href="" class="nav-link text-dark">Categorías</a>
            <a href="" class="nav-link text-dark">Publicaciones</a>
            <a href="" class="nav-link text-dark">Desconectarse</a>
        </div>
    </div>
    <!--  left Sidebar  -->
    <div class="col-md-9">
        <div class="row">
            <div class="col">
                <div class="card border-default mb-3">
                    <div class="card-header text-center text-uppercase font-weight-bold">Todas las categorías</div>
                    <div class="card-body text-dark">
                        <h5 class="card-title text-center">10</h5>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card border-default mb-3">
                    <div class="card-header text-center text-uppercase font-weight-bold">Todas las publicaciones</div>
                    <div class="card-body text-dark">
                        <h5 class="card-title text-center">10</h5>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

{% endblock %}

